
<footer class="page_footer template_footer cs main_bg_color2">
	<div class="container">
		<div class="row display_table_sm divider_40">
			<div class="col-sm-4 col-sm-push-4 text-center display_table_cell_sm">
				
				<p class="yantramanov weight-black fontsize_25">
					Rajvik InfoSol Pvt Ltd

				</p>
			</div>

			<div class="col-sm-4 col-sm-pull-4 text-center text-sm-left contact-teaser display_table_cell_sm">
				<span class="small-text">Contact</span>
				<p class="yantramanov weight-black fontsize_21">040-40128572</p>
			</div>
			<div class="col-sm-4 text-center text-sm-right contact-teaser display_table_cell_sm">
				<span class="small-text">online consultation</span>
				<p class="yantramanov weight-black fontsize_21 text-uppercase">support@rajvikinfosol.com</p>
			</div>
		</div>
	
	</div>
</footer>



