<section class="page_toplogo table_section table_section ls section_padding_20">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-push-4 text-center">
				<a href="index-2.html" class="logo">
					<img src="~/images/logo.png" alt="">
				</a>
			</div>
			<div class="col-sm-4 col-sm-pull-4 text-center text-sm-left contact-teaser">
				<span class="small-text">Contact</span>
				<p class="yantramanov weight-black fontsize_25">040-40128572</p>
			</div>
			<div class="col-sm-4 text-center text-sm-right contact-teaser">
				<span class="small-text">online consultation</span>
				<p class="yantramanov weight-black fontsize_25 text-uppercase">support@rajvikinfosol.com</p>
			</div>
		</div>
	</div>
</section>

<header class="page_header header_color template_header subpage_header table_section toggle_menu_left">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row cs rounded header-block">

					<div class="col-md-12">
						<!-- main nav start -->
						<nav class="mainmenu_wrapper">
							<ul class="mainmenu nav sf-menu">
								<li class="active">
									<a href="/">Home</a>
								</li>

								<li>
									<a asp-action="AboutUs" asp-controller="AboutUs" asp-area="AboutUs">About Us</a>
									<ul>
										<li>
											<a asp-action="AboutUs" asp-controller="AboutUs" asp-area="AboutUs">About Us</a>
										</li>
										<li>
											<a asp-action="Team" asp-controller="AboutUs" asp-area="AboutUs">Team</a>
										</li>
										<li>
											<a asp-action="Profile" asp-controller="AboutUs" asp-area="AboutUs">Member Profile</a>
										</li>
									</ul>
								</li>

								<!-- services -->
								<li>
									<a href="about.html">Services</a>
									<ul>
										<li>
											<a asp-action="Index" asp-controller="Service" asp-area="Service">Cardio Monitoring</a>

										</li>
									</ul>
								</li>
								<!-- eof services -->
								<!-- services -->
								<li>
								<li>
									<a asp-action="Index" asp-controller="Department" asp-area="Department">Department</a>
 
								</li>
								<li>
									<a asp-action="Carrer" asp-controller="Carrer" asp-area="Carrer">Carrer</a>
									<ul>
										<li>
											<a asp-action="Training" asp-controller="Home" asp-area="">Training Courses</a>
										</li>
										<li>
											<a asp-action="Placement" asp-controller="Home">Placement	</a>
										</li>
										<li>
											<a asp-action="Job" asp-controller="Home">Job Opportunities</a>
										</li>
									</ul>
								</li>

								<!-- contacts -->
								<li>
									<a href="contact.html">Contact us</a>
									<ul>
										<a asp-action="ContactUs" asp-controller="Home" >Contact Us</a>

									</ul>
								</li>
								<!-- eof contacts -->
							</ul>
						</nav>
						<!-- eof main nav -->
						<span class="toggle_menu">
							<span></span>
						</span>
					</div>

			 
				</div>
			</div>
		</div>
	</div>
</header>
 